extends layout 

block content
 header.w3-container.w3-blue-gray
  h2 New user added!
 table.w3-table.w3-table-all
  tr    
   td
    b Name: 
    span #{user.name}
 footer.w3-container.w3-blue-grey
  address Gerado por aluno::a97652 em #{d} - [ #[a(href="http://localhost:7777/") Back] ]
      