extends layout

block content
  .w3-panel.w3-red
    h2 Danger!
    h3= msg
    h3= error.status
  footer.w3-container.w3-blue-grey
    address Gerado por aluno::a97652 em #{d} - [ #[a(href="/") Back ] ]
       